<!-- FILE NÀY DÙNG ĐỂ LƯU TẠM COMPONENTS
- MỐT CÓ XÀI FRAMEWORK THÌ TÁCH TỪNG COMPONENTS RA THÀNH RIÊNG LẺ RỒI KHI DÙNG MỚI INCLUDE TỪNG CÁI VÀO
- CÒN GIỜ ĐANG HTML, JS THUÂN THÌ DÙNG FETCH ĐỂ GET DATA COMPONENTS VỀ 
 -->
<!-- GHI BÀN -->
<template id="goal-template">
    <div class="mb-2 mx-auto">
        <div class="card">
            <div class="card-header d-flex flex-column align-items-center text-white bg-danger">
                <div class="my-3">
                    <img src="./img/ball.svg" alt="Ball icon">
                </div>
                <div>
                    VÀOOOOOOOO! 
                </div>
                <div class="d-flex flex-row w-100" style="font-size:0.7em">
                    <div class="text-end"style="width:44.5%">#Đội 1</div>
                    <div style="width:3%" class="text-center">1</div>
                    <div style="width:5%" class="text-center">-</div>
                    <div style="width:3%" class="text-center">0</div>
                    <div class="text-start" style="width:44.5%">#Đội 2</div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</template>

<!-- THẺ ĐỎ -->
<template id="red-card-template">
    <div class="mb-2 mx-auto">
        <div class="card">
            <div class="card-header d-flex">
                <div class="container-icon-development">
                    <img src="./img/red-card.svg" alt="Red card icon">
                </div>
                <div>Thẻ đỏ</div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</template>

<!-- THAY NGƯỜI -->
<template id="substitute-template">
    <div class="mb-2 mx-auto">
        <div class="card">
            <div class="card-header d-flex">
                <div class="container-icon-development">
                    <img src="./img/substitute.svg" alt="Substitute icon">
                </div>
                <div>Thay người</div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</template>

<!-- THẺ VÀNG -->
<template id="yellow-card-template">
    <div class="mb-2 mx-auto">
        <div class="card">
            <div class="card-header d-flex">
                <div class="container-icon-development">
                    <img src="./img/yellow-card.svg" alt="Yellow card icon">
                </div>
                <div>Thẻ vàng</div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</template>